*DS_Store*
Dataset/LavalIndoor/Original_HDR/*
Dataset/LavalIndoor/Stage1/*
Dataset/LavalIndoor/Stage2/*
Dataset/LavalIndoor/crop/*
Dataset/LavalIndoor/dataset_ICCV_stage1.tar.gz
Dataset/LavalIndoor/dataset_ICCV_stage2.tar.gz
RegressionNetwork/checkpoints/
RegressionNetwork/.ipynb_checkpoints/
*__pycache__*
